@font-face {
font-family:"Roboto-Light";
src:url(../fonts/Roboto/Roboto-Light.ttf)
}

html {
height:100%;
margin:0
}

body {
min-height:100%;
margin:0;
background:#506A86;
font-family:'Roboto-Light',sans;
color:#FFF
}

header {
width:100%;
height:70px;
position:fixed;
top:0;
padding:0;
background:#223F60;
font-size:30px;
line-height:70px;
z-index:2
}

header .title {
display:inline-block;
height:70px;
line-height:70px;
font-size:50px;
margin:0 20px;
padding:0;
text-align:left;
text-shadow:0 3px 5px #222
}

header .title i {
margin-right:15px
}

.decal {
position:fixed;
width:100%;
top:70px;
min-height:2px;
background-color:#FFF;
border-bottom:2px solid #333;
z-index:2
}

content {
position:absolute;
min-height:100%;
margin-top:90px;
z-index:1
}

.mensa-menu ul {
list-style-type:none;
margin:0;
padding:0;
}

.week .day {
display:block
}

.week .day::-webkit-scrollbar {
display:none
}

.week .day:after {
display:block;
height:20px;
content:"";
clear:both
}

.day li {
display:block;
margin:0 10px 10px 0;
height:180px;
float:left
}

.day .day-label {
width:100px;
padding:0
}

.day .day-label .text {
display:block;
width:180px;
height:50px;
margin:65px 0 0 -14px;
padding:0;
text-align:center;
line-height:50px;
font-size:2em;
color:#FFF;
text-shadow:0 2px 3px #222;
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
transform:rotate(-90deg)
}

.day .menu-entry {
position:relative;
width:200px;
height:50px;
border-style:solid;
border-width:2px;
border-color:#223F60;
color:#333
}

.day .Suppe {
background-color:#A19CD7
}

.day .Hauptgericht {
background-color:#94B1D1
}

.day .Beilage {
background-color:#FFEDAE
}

.day .Dessert {
background-color:#FFDFAE
}

.day .menu-entry .title {
display:block;
position:absolute;
height:50px;
width:135px;
left:5px;
font-size:.8em
}

.day .menu-entry .fav-icon {
display:block;
position:absolute;
height:50px;
width:30px;
line-height:50px;
top:0;
right:0;
background-color:#223F60;
font-size:20px;
text-align:center;
color:#FFF
}

.day .menu-entry .fav-icon i:hover {
cursor:pointer
}

.day .menu-entry .score {
display:inline-block;
position:absolute;
height:25px;
width:50px;
line-height:25px;
bottom:0;
right:35px;
font-size:20px;
text-align:right;
color:#222
}