<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MyMensa</title>
    <link rel="stylesheet" href="res/fontello/css/fontello.css">
    <link rel="stylesheet" href="res/css/styles.css">
</head>

<body>
    <header>
        <span class="title"><i class="icon-food"></i></i>MyMensa</span>
    </header>
    <div class="decal"></div>
    <content>
        <div id="mensa-menu" class="mensa-menu">
            <ul id="week" class="week">
               
            </ul>
        </div>
    </content>

    <script type="text/template" id="day-container">
        <ul class="day">
            <li class="day-label">
                <span class="text"><%= name %></span>
            </li>
        </ul>
    </script>

    <script type="text/template" id="day-entry">
        <li class="menu-entry <%= category %>" data-id="<%= id  %>">

            <% if(isFavourite()){ %>
                <span class="fav-icon"><i class="button icon-heart"></i></span>
            <% } %>

            <% if(!isFavourite()){ %>
                <span class="fav-icon"><i class="button icon-heart-empty"></i></span>
            <% } %>

            <span class="title"><%= shortName %></span>
            <span class="score"><%= score %></span>
        </li>
    </script>

    <script src="js/libs/qwest.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/src/MyMensa.js"></script>
    <script src="js/src/MensaModel.js"></script>
    <script src="js/src/MensaViewController.js"></script>
    <script>
    MyMensa.init();
    </script>
</body>

</html>
