.clock {
	display: block;
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
	margin: 25px 25px 50px 25px;
	padding: 0;
	background-color: rgb(255,255,255);
	border-radius: 25px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(30,30,30);
}

.clock .face {
	display: block;
	position: absolute;
	top: 25px;
	left: 25px;
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	background-color: rgb(30,30,30);
}

.clock:hover {
	cursor: pointer;
}

.clock .face .center {
	display: block;
	position: absolute;
	top: 115px;
	left: 115px;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	background-color: rgb(250, 218, 114);   
}

.clock .face .hand {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	transform-origin: 50% 100%;
	background-color: rgb(255,255,255);
}

.clock .face .hours {
	top: 50px;
	left: 120px;
	width: 10px;
	height: 75px;
	transform: rotate(0deg);
}

.clock .face .minutes {
	top: 20px;
	left: 122px;
	width: 6px;
	height: 105px;
	transform: rotate(0deg);
}

.clock .label {
	display: block;
	position: absolute;
	top: 300px;
	width: 300px;
	height: 50px;
	margin: 0;
	padding: 0;
    font-family: "Rokkitt", serif;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: rgb(250, 218, 114);
}